/* @tailwind base;
@tailwind components;
@tailwind utilities; */


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}


/* Header-start ///////////////////////////////////////*/
.header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: auto;
   
}

.logo_containor {
    display: flex;
    align-items: center;
    text-align: center;

}

.logo {
    width: 150px;
    height: 80px;
}

.sect-14 {
    font-weight: 700;
    border-bottom: 2px solid black;
    /* margin-right: 10px; */
  
   
   
}
.location{
    overflow-y: hidden;
    /* margin-left: -90px; */

}

.nav_item>ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-right: 40px;
}

.nav_item>ul>li {
    padding-right: 25px;
    font-size: 19px;
}

.nav_item>ul>li:hover {
    color: orange;
}

.loginbtn {
    outline: none;
    border: none;
    background-color: white;
    font-size: 18px;
}

.secod_header {

     height: auto;
     width: 100%; /* Set the width as needed */
     overflow: hidden;

}
.imageRow{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab; /* Set the cursor to a grabbing hand */
   /* Prevent text selection while dragging */
    margin-bottom: -10px;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Add smooth scrolling */
   
}
.scrollWrapper{
    width: 100%;
    overflow: hidden;
}
.imageRow:active {
    cursor: grabbing; /* Set the cursor to a grabbing hand while dragging */
  }
.header_img {
   
  flex: 0 0 auto; /* Prevent items from growing or shrinking */
  width: 144px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
  margin-right: 10px; /* Add some spacing between items */
  border-radius: 30px;
 
  
}
.mind-top{
    font-weight: 700;
    font-size: larger;
    padding: 20px;
    margin-left: 30px;
}
/* .yourmind{
    flex: 0 0 auto;
    width: 120px;
    height: 100px;
    padding: 10px;
}
.second-crousal{
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
   
    align-items: center;
    justify-content: center;
   
} */

/* .style-header{
  
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}
  
  .image-row-container {
    width: 700px;
    overflow: hidden;
    display: flex;
   
  }
  
  .image-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grab; 
   
   
    overflow-x: scroll;
    scroll-behavior: smooth; 
  }
  
  .image-row img {
    flex: 0 0 auto;
    width: 120px;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
   */

/*Header-end////////////////////////////////*/


/*Body-start /////////////////////////////////////*/

.body {
    margin-top: 20px;
    padding-top: 30px;
    width: 100vw;
    /* height: 72px; */
    border-bottom: 1px solid rgb(215, 215, 215);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right: 40px;

}

.restnum {
    display: flex;
    justify-content: start;
    align-items: center;
}

.total-res {
    margin-left: 25px;
    font-size: 28px;
    font-weight: 600;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    color: #282c3f;
}


.btn {
    cursor: pointer;
    /* margin-right: 10px; */
    outline: none;
    border: none;
    background-color: white;
    font-size: 25px;
}



.search {
    text-align: center;
    margin: 10px;
    border: .5px solid #282c3f;
    border-radius: 20px;
}
.input-box{
    display: flex;
    align-items: center;
    text-align: center;
}

inputList {
    text-transform: capitalize;
}

.taskBtn {

    height: 30px;
    font-size: 16px;
    font-family: Helvetica Neue, sans-serif;
    margin-left: 35px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 17px;
    color: rgb(116, 115, 115);
}

.taskBtn:hover {
    color: black;
    border-bottom: 1px solid black;
}

/* .homeItem-Img{
    margin-top: 10px;
    width: 144px;
    aspect-ratio: auto 144 / 180;
    height: 180px;
    overflow-clip-margin: content-box;
    overflow: clip;
} */
.res_containor {

    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.res_containor a {
    list-style-type: none;
    text-decoration: none;
}


.card_cont {
    width: auto;
    margin-top: 20px;
}

.card {

    margin: 10px 10px 10px 10px;
    padding: 20px 20px 57px;
    width: 295px;
    height: 340px;
    overflow: hidden;

}

.card:hover .view {
    display: block;
    width: 100%;

}

.card:hover {
    border: 1px solid rgb(181, 181, 181);
    box-shadow: 0px 0px 5px 3px rgba(40, 44, 63, .05);
    cursor: pointer;

}



.card_img {
    width: 100%;
    /* border-radius: 8px; */

}

.card_info {
    text-align: start;
    width: 100%;
    margin: 10px;
    font-family: Helvetica Neue, sans-serif;
    color: #686b78;

}

.rest-name {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.cuisine {
    margin-top: 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.card-detail {
    font-size: 12px;
    margin-top: 18px;
    padding-right: 5px;
    overflow-y: hidden;
}


.rating {
    margin: 0px 20px 0px 20px;
}

.rating-star {

    height: 6px;
    background-color: #48c479;
    padding: 5px;
    color: white;
}

.promoted {
    position: absolute;
    background: rgb(58, 60, 65);
    color: rgb(255, 255, 255);
    border-color: rgb(30, 32, 35) transparent;
    margin-top: 20px;
    margin-left: 23px;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 60%;
    text-transform: uppercase;
}

.view {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 0;
    display: none;
    border-top: 0.5px solid rgb(224, 224, 224);
    font-size: 13px;
    color: #5d8ed5;
    font-weight: 700;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    /* position: relative; */
}

.quick-view {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(20%, 0);
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(218, 220, 230, .6);
    width: 200px;
    text-align: center;
    display: none;
}



.view:hover+.quick-view {
    display: block;

}

/*Body-end /////////////////////////////////////*/


/* Shimmer-start/////////////////////////////// */
.shimmer-cont {
    display: flex;
    flex-wrap: wrap;

    padding-left: 45px;
}

.shimmer-card {
    width: 250px;
    height: 300px;
    background-color: rgb(203, 210, 210);
    margin: 10px 20px 10px 20px;
    padding: 5px;

}

.shimmerh1{
    color:  rgb(168, 171, 171);
    font-size: 40px;
    text-align: center;
}

.emoji{
    font-size: 50px;
    text-align: center;
    
}
.shimmer_header{
    background-color: rgb(241, 247, 247);
}


/* Shimmer-end/////////////////////////////// */


/* Menu-Shimmer-start */


.menu_Shimmer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuShimmer_card {
    align-items: center;
    width: 500px;
    height: 70px;
    background-color: rgb(203, 210, 210);
    margin: 10px 20px 10px 20px;
    padding: 5px;

}

/* Menu-Shimmer-end/////////////////////////////// */

/* RestMenu-start */



.infoContainor {
    margin-top: 25px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
   

}

.info_sub_Cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    border-bottom: .5px black dotted;
    overflow: hidden;

}


.areaInfo {
    display: flex;
    flex-direction: column;
}

.nameInfo {
    margin-bottom: 0px;
}

.ratings {
    display: inline-flex;
    width: 75px;
    height: 75px;
    flex-direction: column;
    border: .5px solid rgb(239, 238, 238);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(243, 243, 243);
   

}

.ratings .avgrating {
    margin-bottom: 20px;
    border-bottom: .5px rgb(110, 110, 110) solid;
    padding-bottom: 13px;
    overflow-y: hidden;
}

.avgratingString {
    font-size: 12px;
    overflow-y: hidden;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    /* padding-top: 16px; */
}

.title {
    font-weight: bold;
}

.menuListCont1 {
    /* align-items: center; */
    width: 80vw;
    margin: auto;
    margin-bottom: 15px;
    padding: 8px;



}

.description-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(40, 44, 63, .45);
    margin-top: 15px;
    padding-bottom: 50px;
    height: auto;
    width: 70vw;
    margin: auto;
    align-items: center;

}

/* .menuContainor{
    display: flex;
    justify-content: center;
} */
/* .menuListCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 800px;
} */

.menu-name {
    font-weight: bold;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    word-break: break-word;
    font-size: 1rem;
}

.menu-cost {
    font-size: 14px;
}

.description {
    margin-top: 8px;
    color: rgba(40, 44, 63, .45);
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    width: 50vw;
}

.menuLi {
    list-style-type: none;
}

.menuName {
    text-align: center;
    margin-top: 50px;
}

.menuImg {
    position: absolute;

    width: 110px;
    height: 96px;
    border-radius: 6px;
}

.add-btn {
    position: relative;
    margin-top: 75px;
    margin-left: 10px;
    border-radius: 6px;
    display: inline-block;
    height: 34px;
    width: 94px;
    border: 1px solid #d4d5d9;
    color: #60b246;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}

.plus-btn {
    color: #60b246;
    position: absolute;
    font-size: 6px;
    right: 2px;
    top: -35%;
    -ms-transform-origin: -6px 6px;
    transform-origin: -6px 6px;
    -ms-transform: rotate(0);
    transform: rotate(0);
    cursor: pointer;
}

.menuPrice {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.end-border {
    /* margin-top: 5px; */
    height: 16px;
    border-bottom: 16px solid rgba(157, 158, 163, 0.45)
}

.noMenu {
    display: flex;
    justify-content: center;

}

/* RestMenu-end /////////////////////////////////*/

/* Footer-start */
.foot_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100vw;

    left: 0;
    bottom: 0;
    background-color: aliceblue;
}

/* Footer-end///////////////////////////////// */


/* @media query//////////////////////////*/


@media(max-width:480px) {
    .header {
        /* flex-direction: column; */
        /* background-color: #d0d8e3; */
        align-items: center;
       justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }
    .mind-top{
        display: none;
    }
    .logo{
        width: 60px;
        height: 50px;
    }
    .loginbtn{
        display: none;
    }

    .nav_item > ul {
        /* margin-left: 70px; */
        padding-right: 0px;
        text-align: center;
        margin-top: 10px;
    }

    .nav_item >ul > li{
        font-size: 0.75rem;
        padding-right: 10px;
        font-weight: 700;
    
    }
   /* .style-header{
    display: block;
   } */
    .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /* margin: 0; */
    }

    
    .description-list {
        width: 90vw;
       
    }
    .menuListCont1 {
      
        width: 100vw;
       
        overflow-x: hidden;

    }
    .menu-name{
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 165px;
    }
    .online {
        display: none;
    }


    .location {
        font-size: 8px;
        display: none;
    }

      .restnum {
       flex-direction: column;
      margin: auto;
      align-items: center;

        

    } 
    
     .total-res {
        font-size: 2rem;
        margin-left: 0;

    } 
     .body {
        width: 100%;
        /* margin: auto; */
        /* margin-left: 20px; */
        padding-top: 5px;
        padding-right: 0;
        margin-top: 0;
    } 
.homeBtn{
    justify-content: center;
    width: 100vw;
}
    .taskBtn{
        font-size: 0.75rem;
        margin-left: 15px;
            justify-content: center;
    }
.input-box{
    display: flex;
    align-items: center;
    text-align: center;
}

.menu_Shimmer{
    width: 95vw;
}
  


} 


